::selection{
    background-color: rgb(106, 106, 107);
    color: rgba(216, 216, 216)

}

table tbody tr:hover{
    background-color: rgb(141, 141, 141);
}

.active, table tbody tr:active{
    background-color: rgb(106, 106, 107);
    color: rgba(216, 216, 216)
}

.action{
    border:rgb(106, 106, 107) solid thick;
}