<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
        <title>{{title}}</title>
    </head>
    <body>
        {% block header -%}
        {% endblock -%}
        {% block navigation -%}
            <ul>
                <li><a href="{{url_for('Products')}}">Products</a></li>
                <li><a href="{{url_for('Staff')}}">Staff</a></li>
                <li><a href="{{url_for('index')}}">Main report</a></li>
                <li><a href="{{url_for('Orders')}}">Orders</a></li>
                <li><a href="{{url_for('Execution_processes')}}">Execution processes</a></li>
                <li><a href="{{url_for('staff_id_orders_id')}}">staff_id orders_id.html</a></li>
            </ul>
        {% endblock -%}
        {% block content -%}
        {% endblock -%}
        {% block footer -%}
        <script type="module" src="{{ url_for('static', filename='js/CreateImg.js')}}"></script>
        <script type="module" src="{{ url_for('static', filename='js/DateCheck.js')}}"></script>
        <script type="module" src="{{ url_for('static', filename='js/Target_input.js')}}"></script>
        {% endblock -%}
    </body>
</html>