<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
        <title>{{title}}</title>
    </head>
    <body id="{{title}}">
        {% block header -%}
            <div class="logo">
                <span class="bigletter">
                    HAR</span><span class="smallletter">service
                </span>
                <!-- <img src="{{ url_for('static', filename='img/logo.png')}}"> -->
            </div>
        {% endblock -%}
        <div class="main_content">
            {% block navigation -%}
                <nav>
                    <ul>
                        <li><a class="Products" href="{{url_for('Products')}}">Products</a></li>
                        <li><a class="Orders" href="{{url_for('Orders')}}">Orders</a></li>
                        <li><a class="Main_report" href="{{url_for('index')}}">Main report</a></li>
                        <li><a class="Staff" href="{{url_for('Staff')}}">Staff</a></li>
                        <!-- <li><a class="staff_id_orders_id" href="{{url_for('staff_id_orders_id')}}">staff_id orders_id</a></li> -->
                    </ul>
                </nav>
            {% endblock -%}
            {% block content -%}
            {% endblock -%}
            {% block footer -%}
            <script>
                var title = document.title.split(" ").join("_")
                document.querySelector("nav a." + title).classList.add("activePage")
            </script>
            <script type="module" src="{{ url_for('static', filename='js/CreateImg.js')}}"></script>
            <script type="module" src="{{ url_for('static', filename='js/DateCheck.js')}}"></script>
            <script type="module" src="{{ url_for('static', filename='js/Target_input.js')}}"></script>
            {% endblock -%}
        </div>
    </body>
</html>