{% extends "base.html" %}
{% block header %}
{% endblock %}
{% block navigation %}
{% endblock %}
{% block content %}
    <div class="message">
        {% for msg in get_flashed_messages() -%}
            {{msg}}
        {% endfor -%}
    </div>  
    <form action="/login" method="POST">
        <p><label>Nickname: <input type="text" name="Nickname"></label></p>
        <p><label>Password<input type="password" name="psw"></label></p>
        <input type="submit" value="login">
    </form>
{% endblock %}
{% block footer %}
{% endblock %}