{% extends "base.html" %}
{% block header %}
{% endblock %}
{% block navigation %}
    {{super()}}
{% endblock %}
{% block content %}
    <table class="filling_0">
        <thead>
            <tr>
                <th>order id</th>
                <th>client name</th>
                <th>client surname</th>
                <th>client patronymic</th>
                <th>warranty</th>
                <th>date of order receipt</th>
                <th>client phone number</th>
                <th>fk product id</th>
            </tr>
        </thead>
        <tbody>
            {% for row in table_orders -%}
                <tr>
                    {% for item in row -%}
                        <td>{{item}}</td>
                    {% endfor -%}
                </tr>
            {% endfor -%}
        </tbody>
    </table>
        
    {% for msg in get_flashed_messages() -%}
        <div>{{msg}}</div>
    {% endfor -%}
    <form action="Orders?operation=deleteOrUpdate" method="POST" class="action">
        <p class="filling_input_0 empty">
            <input class="n_0" type="number" placeholder="order id" name="order_id" readonly>
            <input class="n_1" type="text" placeholder="client name" name="client_name">
            <input class="n_2" type="text" placeholder="client surname" name="client_surname">
            <input class="n_3" type="text" placeholder="client patronymic" name="client_patronymic">
            <input class="n_4" type="number" placeholder="warranty" name="warranty">
            <input class="n_5" type="text" placeholder="date of order receipt" name="date_of_order_receipt">
            <input class="n_6" type="number" placeholder="client phone number" name="client_phone_number">
        </p>
        <input type="submit" value="delete" name="delete">
        <input type="submit" value="update" name="update">
    </form>
    <form action="Orders?operation=add" method="POST" class="action">
        <input class="n_1" type="text" placeholder="client name" name="client_name">
        <input class="n_2" type="text" placeholder="client surname" name="client_surname">
        <input class="n_3" type="text" placeholder="client patronymic" name="client_patronymic">
        <input class="n_4" type="number" placeholder="warranty" name="warranty">
        <input class="n_5" type="text" placeholder="date of order receipt" name="date_of_order_receipt">
        <input class="n_6" type="number" placeholder="client phone number" name="client_phone_number">
        <table class="upload_0">
            <thead>
                <tr>
                    <th>product id</th>
                    <th>product name</th>
                    <th>firm</th>
                    <th>model</th>
                    <th>technical specifications</th>
                    <th>warranty period</th>
                    <th>image</th>
                </tr>
            </thead>
            <tbody>
                {% for row in table_products -%}
                <tr>
                    {% for item in row -%}
                    <td>{{item}}</td>
                    {% endfor -%}
                </tr>
                {% endfor -%}
            </tbody>
        </table>
        <p class="upload_input_0" style="display: none;">
            <input class="n_0" value="" type="number" placeholder="product id" name="fk_product_id" required>
        </p>
        <p class="group_adding last">
            <input class="n_1" type="text" placeholder="employee name" name="new_employee_name">
            <input class="n_2" type="text" placeholder="employee surname" name="new_employee_surname">
            <input class="n_3" type="text" placeholder="employee patronymic" name="new_employee_patronymic">
            <input class="n_4" type="text" placeholder="employee position" name="new_employee_position">
        </p>
        <table class="filling_1">
            <thead>
                <tr>
                    <th>employee id</th>
                    <th>employee name</th>
                    <th>employee surname</th>
                    <th>employee patronymic</th>
                    <th>employee position</th>
                </tr>
            </thead>
            <tbody>
                {% for row in table_staff -%}
                    <tr>
                        {% for item in row -%}
                            <td>{{item}}</td>
                        {% endfor -%}
                    </tr>
                {% endfor -%}
            </tbody>
        </table>
        {% for msg in get_flashed_messages() -%}
            <div>{{msg}}</div>
        {% endfor -%}
    
        <p class="filling_input_1 empty">
            <input class="n_0" type="number" placeholder="employee id" name="employee_id">
            <input class="n_1" type="text" placeholder="employee name" name="employee_name">
            <input class="n_2" type="text" placeholder="employee surname" name="employee_surname">
            <input class="n_3" type="text" placeholder="employee patronymic" name="employee_patronymic">
            <input class="n_4" type="text" placeholder="employee position" name="employee_position">
        </p>
        <input type="submit" name="add" value="add">
    </form>
{% endblock %}
{% block footer %}
    {{super()}}
{% endblock %}