{% extends "base.html" %}
{% block header %}
    {{super()}}
{% endblock %}
{% block navigation %}
    {{super()}}
{% endblock %}
{% block content %}
    <div class="information_content">
        <table class="table">
            <thead>
                <tr>
                    <th>employee id</th>
                    <th>order id</th>
                </tr>
            </thead>
            <tbody>
                {% for row in table -%}
                    <tr>
                        {% for item in row -%}
                            <td>{{item}}</td>
                        {% endfor -%}
                    </tr>
                {% endfor -%}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block footer %}
    {{super()}}
{% endblock %}